
<form class="contactform">
  <input class="form-group row" (click)="getPessoas()" type="button" value="Chamar API">
  <br>
  <div *ngFor="let pessoa of pessoas" class="form-group row col-sm-6">
    <br>
    <label><b>Nome</b></label>
    <input  type="text" value="{{pessoa.name}}">
    <label><b>Email</b></label>
    <input type="email" value="{{pessoa.email}}">
    <label><b>Gênero</b></label>
    <input type="text" value="{{pessoa.gender}}">
    <label><b>Status</b></label>
    <input type="text" value="{{pessoa.status}}">
  </div>
</form>
